.{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda tu cita | Barbería</title>
    <link rel="stylesheet" href="{% static 'css/agenda.css' %}">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="#" class="index">
                <img src="{% static 'img/logoo.png.png' %}" class="menu-icono" alt="Logo de la barbería">
            </a>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'servicios' %}">Servicios</a></li>
                    <li><a href="{% url 'agenda' %}">Agenda</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Contenedor con la imagen de fondo -->
    <div class="background">
        <div class="appointment-form-container">
            <h2 class="form-title">Agendar Cita</h2>
            <form class="appointment-form">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="servicio">Servicio</label>
                    <select id="servicio" name="servicio" required>
                        <option value="">Seleccione un servicio</option>
                        <option value="Corte">Corte</option>
                        <option value="Facial">Facial</option>
                        <option value="Barba">Barba</option>
                        <option value="Cejas">Cejas</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="correo">Correo electrónico</label>
                    <input type="email" id="correo" name="correo" required>
                </div>
                <div class="form-group">
                    <label for="dia">Día</label>
                    <input type="date" id="dia" name="dia" required>
                </div>
                <div class="form-group">
                    <label for="hora">Hora</label>
                    <input type="time" id="hora" name="hora" required>
                </div>
                <button type="submit" class="submit-btn">Agendar Cita</button>
            </form>
            
        </div>
    </div>
</body>

</html>